/* ===== sidebar profile signin ===== */

.sidebar-profile__signin-btn {
  border: none;
  margin: 0;
  background-color: #1d9bf0;
  width: 240px;
  height: 60px;
  line-height: 60px;
  border-radius: 999px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
}

.sidebar-profile__signin-btn:hover {
  background-color: #0f8cdf;
}

/* ===== page load ===== */

.page-load {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.15;
}

.page-load svg {
  width: 250px;
  height: 250px;
}

/* ===== sidebar left create ===== */

.main-left {
  position: relative;
}

.main-right {
  position: relative;
}

.sidebar-left__create {
  padding-top: 40px;
}

.header_fixed {
  position: fixed;
  top: 20px;
}

.header_bottom {
  position: absolute;
  bottom: 0;
}

/* ===== address profile ===== */

.main-top {
  margin-bottom: 0;
}

.profile {
  padding-bottom: 0;
}

.profile-form {
  padding-top: 30px;
}

.profile-form__container {
  border-top: 1px solid #4d4d4d;
}

.transactions {
  border: none;
}

.nav-tabs.transactions-list {
  padding: 10px 0;
}
