/* ===== sidebar profile signin ===== */

.sidebar-profile__signin-btn {
  border: none;
  margin: 0;
  background-color: #1d9bf0;
  width: 240px;
  height: 60px;
  line-height: 60px;
  border-radius: 999px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
}

.sidebar-profile__signin-btn:hover {
  background-color: #0f8cdf;
}

/* ===== page load ===== */

.page-load {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.15;
}

.page-load svg {
  width: 250px;
  height: 250px;
}

/* ===== sidebar left create ===== */

.main-left {
  position: relative;
}

.main-right {
  position: relative;
}

.sidebar-left__create {
  padding-top: 40px;
}

.header_fixed {
  position: fixed;
  top: 20px;
}

.header_bottom {
  position: absolute;
  bottom: 0;
}

/* ===== address profile ===== */

.main-top {
  margin-bottom: 0;
}

.profile {
  padding-bottom: 0;
}

.profile-form {
  padding-top: 30px;
}

.profile-form__container {
  border-top: 1px solid #4d4d4d;
}

.profile-form__container-inner {
  display: none;
  border-bottom: 1px solid #4d4d4d;
  padding: 30px 0;
}

.transactions {
  border: none;
}

.nav-tabs.transactions-list {
  padding: 10px 0;
}

/* ===== wallet connect ===== */

.connect-wallet__link_connect::after {
  display: none;
}

.connect-wallet__link-status {
  cursor: default;
}

.connect-wallet__link-status_connect {
  opacity: 0.6;
  cursor: pointer;
}

.connect-wallet__link-status_connect:hover {
  opacity: 1;
}

.modal-content__link_disabled {
  background-color: transparent !important;
  cursor: default;
}

.connect-wallet-col-body {
  position: absolute;
}

.connect-wallet-col-body::before {
  content: '';
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  top: -15px;
}

/* ===== mobile ===== */

@media (max-width: 767px) {
  .page-load svg {
    width: 150px;
    height: 150px;
  }

  .header__top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .profile__thumb {
    margin-right: 5px;
    width: 50px;
    height: 50px;
  }

  .profile-form {
    padding-top: 15px;
  }

  .nav-tabs.transactions-list {
    padding: 0;
  }

  .sidebar-left__create {
    display: none;
  }

  .connect-wallet-col-body {
    position: static;
  }

  .connect-wallet-col-body::before {
    display: none;
  }
}
