.start-page {
    padding: 100px 0 50px;
    color: #000305;
}

.start-page__logo {
    text-align: center;
}

.start-page__logo svg {
	width: 200px;
    height: 200px;
}

.start-page__header {
    text-align: center;
    margin-top: 40px;
}

.start-page__header-title {
    font-size: 46px;
}

.start-page__header-subtitle {
    margin-top: 25px;
    font-size: 32px;
    color: #8498a7;
}

.start-page__signin {
    margin-top: 70px;
    text-align: center;
}

.start-page__signin-btn {
    border: none;
    padding: 20px;
    margin: 0;
    background-color: #2a91ff;
    min-width: 400px;
    border-radius: 999px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
}

.start-page__signin-title {
    margin-top: 20px;
    color: #8498a7;
    font-size: 20px;
}

.start-page__auth {
    margin-left: auto;
    width: 240px;
}

.start-page__auth-container {
    position: fixed;
    z-index: 5;
    top: 15px;
    width: 240px;
}

@media (max-width: 767px) {
    .start-page__logo svg {
        width: 150px;
        height: 150px;
    }

    .start-page__header {
        margin-top: 30px;
    }

    .start-page__header-title {
        font-size: 38px;
    }
    
    .start-page__header-subtitle {
        font-size: 24px;
        margin-top: 20px;
    }

    .start-page__signin-btn {
        font-size: 20px;
        min-width: 250px;
        padding: 15px;
    }

    .start-page__signin {
        margin-top: 50px;
    }

    .start-page__signin-title {
        margin-top: 15px;
        font-size: 16px;
    }
}