.sidebar-profile {
  width: 100%;
}
.sidebar-profile__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 12px;
  border-radius: 9999px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.sidebar-profile__link:hover {
  background-color: rgba(29, 161, 242, 0.1);
}
.sidebar-profile__link > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.sidebar-profile__thumb {
  width: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}
.sidebar-profile__thumb::after {
  display: block;
  content: '';
  padding-top: 100%;
}
.sidebar-profile__link span {
  display: inline-block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #768895;
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2em;
}
.sidebar-profile__link span mark {
  padding: 0;
  background: transparent;
  color: #000305;
  font-weight: 700;
}
.sidebar-profile__link svg {
  display: inline-block;
  width: 18.75px;
}
.sidebar-profile__link-logo {
  margin-right: 10px;
}
.sidebar-profile__link-logo svg {
  width: auto;
}
.sidebar-profile__signin-btn {
  border: none;
  margin: 0;
  background-color: #1d9bf0;
  width: 240px;
  height: 60px;
  line-height: 60px;
  border-radius: 999px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
}
.sidebar-profile__signin-btn:hover {
  background-color: #0f8cdf;
}

.dropdown {
  position: absolute !important;
  left: 0;
  top: 0;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0px 0px 1em rgb(0 0 0 / 15%);
}

.dropdown-profile {
  bottom: 0;
  z-index: 232;
  left: 10px;
  width: 92%;
  top: inherit;
}
.list-dropdown {
  right: 20px!important;
  top: 20px !important;
  left: inherit!important;
  z-index: 3;
  &__link {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
    font-size: 15px;
    transition: 0.3s ease;
    color: rgb(83, 100, 113);
    &:hover {
      color: rgb(83, 100, 113);
      background-color: rgba(0, 0, 0, 0.03);
    }
    &:focus {
      background-color: rgba(0, 0, 0, 0.05);
    }
    svg {
      width: 19px;
      margin-right: 10px;
      height: 19px;
      * {
        fill: rgb(83, 100, 113);
      }
    }
  }
}
.list-dropdown__link span {
  margin-left: 4px;
}