.vm--overlay {
    background-color: rgba(0, 0, 0, 0.4)!important;
}

.vm--modal {
    border-radius: 16px!important;
    .tweet-add {
        border: 0;
    }
}

.modal-close {
    height: 53px;
    padding-right: 16px;
    padding-left: 16px;
    border-bottom: solid 1px rgb(207, 217, 222);
    &__btn {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        transition: 0.25s ease;
        cursor: pointer;
        &:hover {
            background-color: rgba(15, 20, 25, 0.1);
        }
        svg {
            width: 21px;
            height: 21px;
        }
    }
}

.modal-container {
    padding: 16px;
}

@media only screen and (max-width: 625px) {
    .vm--modal {
        width: 100%!important;
        height: 100%!important;
        border-radius: 0!important;
        .tweet-add__image {
            height: 32vh;
        }
        .tweet-add__send {
            position: fixed;
            top: 8px;
            right: 16px;
        }
    }
}
