/* ===== common ===== */

.global-input[disabled] {
  color: #A7A7A7;
  cursor: not-allowed;
}

.fade {
  transition: opacity .2s linear !important;
}

.tooltip-inner {
  font-size: 12px;
  background-color: #1886ff;
}

.tooltip .arrow::before {
  border-top-color: #1886ff;
}

.loader__container {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loader-skeleton {
  display: inline-block;
  width: 100%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.11);
  animation: skeleton 1s ease-in-out infinite;
}

@keyframes skeleton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.loading-bg {
  background-color: rgba(0, 0, 0, 0.11);
  animation: animLoadingBg 1s ease-in-out infinite;
}

@keyframes animLoadingBg {
  0% {
    background-color: rgba(0, 0, 0, 0.11);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.06);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.11);
  }
}

.dislike-active-icon {
  stroke: none !important;
}

.like-active-icon {
  stroke: none !important;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.width_100 {
  width: 100% !important;
}

.btn-white-transparent_custom {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background-color: transparent;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

/* ===== popover ===== */

.ui-popover {
  background-color: #1886FF;
  width: 220px;
  border-radius: 5px;
  padding: 30px;
  border-color: #1886FF;
  z-index: 1010;
}

.ui-popover.bs-popover-right {
  margin-top: 70px;
}

.ui-popover-close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  right: 10px;
  background: url("../img/global-hint-close_img.svg") center no-repeat;
  cursor: pointer;
}

.ui-popover-header {
  font-family: "SF Pro Display";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F5F9FD;
  margin-bottom: 10px;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  border: none;
}

.ui-popover-header::before {
  display: none !important;
}

.ui-popover-body {
  color: #F5F9FD;
  font-size: 12px;
  font-family: "SF Pro Display";
  font-weight: 400;
  line-height: 143%;
  padding: 0;
  border-radius: 0;
}

.ui-popover.bs-popover-right .ui-popover-arrow::before {
  border-right-color: #1886FF !important;
}

.ui-popover.bs-popover-right .ui-popover-arrow::after {
  border-right-color: #1886FF !important;
}

.ui-popover.bs-popover-left .ui-popover-arrow::before {
  border-left-color: #1886FF !important;
}

.ui-popover.bs-popover-left .ui-popover-arrow::after {
  border-left-color: #1886FF !important;
}

.ui-popover.bs-popover-bottom .ui-popover-arrow::before {
  border-bottom-color: #1886FF !important;
}

.ui-popover.bs-popover-bottom .ui-popover-arrow::after {
  border-bottom-color: #1886FF !important;
}

.ui-popover_nft {
  width: auto;
  padding: 20px 40px 20px 20px;
}

/* ======= header ======== */

@media (max-width: 991px) {
  .market-header-search {
    display: none;
  }

  .profile-left2 {
    display: none;
  }
}

@media (max-width: 767px) {
  .profile {
    padding-top: 15px;
  }
}

/* ===== address ===== */

.market-header__wallet .drop-down__link .thumb {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 12px;
  background-color: rgba(104, 118, 132, 0.2);
}

.market-header__wallet .drop-down__link .thumb img {
  max-width: 18px;
  max-height: 18px;
}

.profile-iu__status span {
  margin-left: 5px;
}

.profile-iu__avatar > div > div {
  width: 100px !important;
  height: 100px !important;
  overflow: hidden;
  border-radius: 50% !important;
}

.profile-iu__avatar svg {
  width: 100px;
  height: 100px;
}

.market-sidebar__list3-loading-item {
  height: 110px;
}

.market-sidebar__list3-empty {
  width: 100% !important;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #687684;
}

.my-token__icon {
  flex-shrink: 0;
  margin-right: 8px;
}

.my-token__top .right {
  flex-grow: 1;
  overflow: hidden;
}

.my-token__kurs {
  overflow: hidden;
  text-overflow: ellipsis;
}

.my-token__count {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.my-token__value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.market-sidebar__list3 {
  max-height: 380px;
  overflow: auto;
}

.market-sidebar__list2-loading-item {
  height: 135px;
}

.market-sidebar__list2-empty {
  width: 100% !important;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #687684;
}

.market-sidebar__list2 {
  max-height: 456px;
  overflow: auto;
}

.market-sidebar__show-more {
  display: block;
  width: 100%;
  text-align: center;

  &:hover {
    opacity: 0.7;
    color: #007bff;
  }
}

.transactions__empty {
  padding: 40px 15px;
  text-align: center;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  width: 100%;
}

.transactions__empty-block {
  padding-top: 50px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.profile-content_no-border {
  border-bottom: none;
  padding-bottom: 0;
}

.profile-content__user-icon {
  margin-right: 10px;
}

.profile-content__user span {
  cursor: pointer;
}

.profile-content__text {
  margin-bottom: 15px;
  cursor: pointer;
}

.profile-content__title {
  font-family: 'SF Pro Display';
	font-weight: 600;
  font-size: 14px;
	line-height: 140%;
	color: #1F1F1F;
	margin-bottom: 10px;
}

.profile-content__title:last-child {
  margin-bottom: 0;
}

.profile-content__desc {
  margin-bottom: 0;
  word-break: break-word;
}

.profile-content__desc_mt {
  margin-top: 10px;
}

.profile-content__desc span {
  color: #1886FF;
  font-weight: 600;
  cursor: pointer;
}

.profile-content__desc span:hover {
  opacity: 0.6;
}

.profile-content__image {
  padding-top: 43.65%;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.profile-content__image::after {
  display: none;
}

.profile-content__image-tag {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.profile-content__image-tag_loading {
  z-index: 4;
  background-color: #ffffff;

  .loading-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.profile-content__image-tag_bg {
  object-fit: cover;
  z-index: 1;
}

.profile-content__image-tag_main {
  object-fit: contain;
  z-index: 3;
}

.profile-content__image-tag_backdrop {
  z-index: 2;
  background-color: #000000;
  opacity: 0.5;
}

.profile-content__image-empty {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  border: 2px solid #1886FF;
  border-radius: 10px;
  color: #1886FF;

  & svg {
    height: 60%;
    width: 60%;
  }
}

.profile-content__bottom {
  min-height: 36px;
}

.profile-content__loading-top {
  height: 33px;
  border-radius: 10px;
}

.profile-content__loading-img {
  margin-top: 15px;
  height: 400px;
  border-radius: 10px;
}

.profile-content__loading-text {
  margin-top: 15px;
  height: 80px;
  border-radius: 10px;
}

.profile-login__card:first-child {
  border-top: 1.6px solid #E4E4E4;
}

.profile-login__card {
  border-bottom: 1.6px solid #E4E4E4 !important;
}

.profile-iu__nik {
  display: flex;
  align-items: center;
}

.profile-iu__nik-icon {
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.modal-post-user__icon {
  margin-right: 10px;
}

.market-sidebar__nft-video {
  border-radius: 5px;
  width: 100%;
  height: 135px;
  position: relative;
  overflow: hidden;
}

.market-sidebar__nft-video video {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.market-sidebar__nft-image {
  border-radius: 5px;
  width: 100%;
  height: 135px;
  position: relative;
  overflow: hidden;
}

.market-sidebar__nft-image img {
  display: block;
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  object-fit: cover;
}

.market-sidebar__nft-image-empty {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 18px;
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.06);
  color: #4d4d4d;
}

.market-sidebar__nft-loading {
  border-radius: 5px;
  height: 135px;
}

.market-sidebar__nft-audio {
  border-radius: 5px;
  width: 100%;
  height: 135px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.06);
  min-width: 0;
  box-shadow: none;
}

.market-sidebar__nft-audio .controls {
  display: none;
}

.profile-content__comment-loading {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 15px;
  transform: translate(0,-50%);
  width: 24px;
  height: 24px;
}

.profile-content__comment-loading .spinner-border {
  width: 15px;
  height: 15px;
  border-width: 2px;
}

.nft-delete__modal-content {
  position: relative;
}

.nft-delete__loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft-delete__loading .spinner-border {
  width: 40px;
  height: 40px;
}

.modal-post-bottom {
  padding-top: 20px;
}

.modal-post-comment__thumb::after {
  display: none;
}

.audio-player audio {
  display: inline-block;
  max-height: 150px;
  max-width: 100%;
}

.market-product__title:hover {
  color: #687684;
  opacity: 0.7;
}

.market-product__name:hover {
  color: #1F1F1F;
  opacity: 0.7;
}

.profile-content__media {
  position: relative;
}

.profile-content__media-encrypted-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  p {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 19px;
  }
}

.profile-content__media-encrypted-lock {
  margin-bottom: 12px;
}

.profile-content__media-refresh {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  cursor: pointer;
  z-index: 2;

  &:hover {
    opacity: 1;
  }

  &_text {
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
  }
}

.profile-content__media-refresh svg {
  width: 30px;
  height: 30px;

  path {
    fill: #FFFFFF;
  }
}

.profile-content__media-refresh_text svg {
  width: 15px;
  height: 15px;

  path {
    fill: #FFFFFF;
  }
}

.profile-content__media-loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner-border {
    width: 60px;
    height: 60px;
  }
}

.confirm-buy-access-modal {
  background-color: rgba(0, 0, 0, .5) !important;
}

.video .video-player {
  z-index: 1;
}

@media (max-width: 767px) {
  .profile-login__card_tron,
  .profile-login__card_solana {
    display: none;
  }

  .profile-login__list li:not(.profile-login__list__walletconnect) {
    display: none;
  }

  .profile-iu__avatar > div > div {
    width: 50px !important;
    height: 50px !important;
    overflow: hidden;
  }

  .profile-iu__avatar svg {
    width: 50px;
    height: 50px;
  }

  .profile-content__bottom {
    min-height: 0;
  }

  .profile-content__loading-img {
    height: 150px;
  }

  .profile-content__media-refresh {
    top: 8px;
    right: 8px;
    width: 34px;
    height: 34px;
    border-radius: 17px;

    &_text {
      top: 0px;
      right: 0px;
      width: 20px;
      height: 20px;
    }
  }

  .profile-content__media-refresh svg {
    width: 20px;
    height: 20px;
  }

  .profile-content__media-refresh_text svg {
    width: 15px;
    height: 15px;
  }
}

/* ===== nft form ===== */

.form-creat__block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.form-creat {
  position: relative;
}

.form-creat-files-item__thumb {
  height: auto;
}

.form-creat-files-item__thumb img {
  display: inline-block;
  height: auto;
  max-height: 150px;
  max-width: 100%;
  border-radius: 5px;
}

.form-creat-files-item__thumb video {
  display: inline-block;
  max-height: 150px;
  max-width: 100%;
  border-radius: 5px;
}

.form-creat-files-item__thumb audio {
  display: inline-block;
  max-height: 150px;
  max-width: 100%;
}

.form-creat-file__label {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
}

.form-creat_dragging .form-creat-file__label {
  display: block;
}

.form-creat-file__label_short {
  .form-creat-file__cont {
    flex-direction: row;
  }

  .form-creat-file__icon {
    margin-bottom: 0;
    margin-right: 10px;
    width: 30px;
  }
}

.form-creat-file__cont {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-creat-avatar {
  width: auto;
  display: inline-block;
}

.form-creat-avatar::after {
  display: none;
}

.form-creat-avatar__thumb {
  height: auto;
  width: auto;
  max-width: 100%;
  cursor: default;
}

.form-creat-avatar__thumb img {
  display: inline-block;
  height: auto;
  max-height: 120px;
  max-width: 100%;
  border-radius: 5px;
}

.form-creat-avatar__thumb video {
  display: inline-block;
  max-height: 120px;
  max-width: 100%;
  border-radius: 5px;
}

.form-creat-avatar__thumb audio {
  display: inline-block;
  max-height: 120px;
  max-width: 100%;
}

.modal-creat-text-content {
  display: block;
}

.form-creat-nav-item_filled svg path {
  fill: #1072DE;
}

.form-creat-btns {
  position: relative;
}

.form-creat-btns__loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-creat-btns__loading .spinner-border {
  width: 25px;
  height: 25px;
}

.form-creat__empty-content {
  padding: 20px 0;
  color: #A7A7A7;
  font-weight: 400;
  font-size: 14px;
}

.modal-creat-control {
  position: relative;
}

.modal-creat-control__loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-creat-control__loading .spinner-border {
  width: 25px;
  height: 25px;
}

.modal-creat-result__thumb {
  overflow: hidden;
}

.modal-creat-result__thumb-video {
  width: 100%;
  padding: 30px 0;
}

.modal-creat-result__thumb-video video {
	width: 100%;
}

.modal-creat-result__thumb-audio {
  position: relative;
  padding: 30px 0;
}

.modal-creat-result__thumb-audio audio {
  width: 100%;
}

.unlockable-fields-container .global-input {
  width: 100%;
}

.modal-creat-pc-send .spinner-border {
  width: 24px;
  height: 24px;
}

/* ===== my nft ===== */

.market-product__media {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  overflow: hidden;
}

.market-product__media-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.market-product__media-image img {
  display: block;
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  object-fit: cover;
}

.market-product__media-image-empty {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.06);
  color: #4d4d4d;
}

.market-product__media-video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.market-product__media-video video {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.market-product__media-loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.market-product__media-audio {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
  background-color: rgba(0, 0, 0, 0.06);
  min-width: 0;
  width: 100%;
  height: auto;
  box-shadow: none;
}

.modal-comment-nft-thumb {
  display: block;
  position: relative;
  width: 232px;
  height: 232px;
  margin: 0 auto 20px;
  border-radius: 5px;
  overflow: hidden;
}

/* ===== my tokens ===== */

.tokens-wallet__count img {
  max-height: 16px;
}

/* ===== marketplace ===== */

.market-filtr__empty {
  padding: 40px 0;
  text-align: center;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  width: 100%;
  opacity: 0.6;
}

.market-nft-block__empty {
  padding: 60px 0;
  text-align: center;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  opacity: 0.6;
}

.market-product__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  overflow: hidden;
}

.market-product__image img {
  display: block;
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  object-fit: cover;
}

.market-product__image-empty {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.06);
  color: #4d4d4d;
}

/* ======== start ======== */

.start-page__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #ffffff;
}

.start-page__loading .spinner-border {
  width: 100px;
  height: 100px;
}

@media (max-width: 767px) {
  .start-page__loading .spinner-border {
      width: 80px;
      height: 80px;
  }
}

/* ======== cookie ======== */

.global-cookie {
  display: block;
  z-index: 11;
}

/* ======== onboarding ======== */

.onboarding-welcome__thumb-container {
  position: relative;
}

.onboarding-welcome__thumb-title {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.onboarding-welcome-btns {
  position: relative;
}

.onboarding-welcome-btns__loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.onboarding-welcome-btns__loading .spinner-border {
  width: 25px;
  height: 25px;
}

/* ===== home ===== */

.main-profile-top .right {
  display: flex;
  align-items: center;
}

.main-profile-cont {
  display: block;
}

.main-profile-user .thumb::after {
  display: none;
}

.main-profile-user:hover {
  opacity: 0.7;
}

.main-profile-copy-wrap .global-input {
  padding-right: 40px;
  text-overflow: ellipsis;
}

.main-profile-inbox-chats {
  height: 350px;
}

.main-profile-inbox-chats__iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

.spaces-tabs-link.disabled {
  color: #E4E4E4;
}

/* ===== signup modal ===== */

.onboarding-between-list-i__img {
  animation: spin 1.5s linear infinite;
}

.verify-confirm-modal {
  background-color: rgba(0, 0, 0, .5) !important;
}

.buy-page-modal__content p {
  margin-bottom: 12px;
}

.onboarding-sign-iframe {
  display: none;
}

/* ===== settings ===== */

.global-status span {
  padding-right: 10px;
}

.global-status_pending img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.global-status_link:hover {
  opacity: 0.7;
}

.psi-status__refresh {
  cursor: pointer;
  margin-left: 5px;

  svg {
    width: 17px;
    height: 17px;
    opacity: 0.3;
  }

  &:hover {
    svg {
      opacity: 0.7;
    }
  }
}

.profil-settings-item__text_address {
  padding-right: 40px;
  text-overflow: ellipsis;
}

/* ===== beta warning ===== */

.info-fixed-block_relative {
  position: static;
  z-index: auto;
  top: 0;
  left: 0;
}

/* ======================= */
