/* ===== common ===== */

.fade {
  transition: opacity .2s linear !important;
}

.tooltip-inner {
  font-size: 12px;
  background-color: #1886ff;
}

.tooltip .arrow::before {
  border-top-color: #1886ff;
}

.loader__container {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loader-skeleton {
  display: inline-block;
  width: 100%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.11);
  animation: skeleton 1s ease-in-out infinite;
}

@keyframes skeleton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.loading-bg {
  background-color: rgba(0, 0, 0, 0.11);
  animation: animLoadingBg 1s ease-in-out infinite;
}

@keyframes animLoadingBg {
  0% {
    background-color: rgba(0, 0, 0, 0.11);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.06);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.11);
  }
}

/* ===== address ===== */

.market-header__wallet .drop-down__link .thumb {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 12px;
  background-color: rgba(104, 118, 132, 0.2);
}

.market-header__wallet .drop-down__link .thumb img {
  max-width: 18px;
  max-height: 18px;
}

.profile-iu__status span {
  margin-left: 5px;
}

.profile-iu__avatar > div > div {
  width: 100px !important;
  height: 100px !important;
  overflow: hidden;
  border-radius: 50% !important;
}

.profile-iu__avatar svg {
  width: 100px;
  height: 100px;
}

.market-sidebar__list3-loading-item {
  height: 110px;
}

.market-sidebar__list3-empty {
  width: 100% !important;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 30px;
  opacity: 0.4;
}

.my-token__icon {
  flex-shrink: 0;
  margin-right: 8px;
}

.my-token__top .right {
  flex-grow: 1;
  overflow: hidden;
}

.my-token__kurs {
  overflow: hidden;
  text-overflow: ellipsis;
}

.my-token__count {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.my-token__value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.market-sidebar__list3 {
  max-height: 330px;
  overflow: auto;
}

.market-sidebar__list2-loading-item {
  height: 135px;
}

.market-sidebar__list2-empty {
  width: 100% !important;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 30px;
  opacity: 0.4;
}

.market-sidebar__list2 {
  max-height: 370px;
  overflow: auto;
}

.transactions__empty {
  padding: 40px 15px;
  text-align: center;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
}

.profile-content__user-icon {
  margin-right: 10px;
}

.profile-content__user span {
  cursor: pointer;
}

.profile-content__text {
  margin-bottom: 15px;
  cursor: pointer;
}

.profile-content__title {
  font-family: 'SF Pro Display';
	font-weight: 600;
  font-size: 14px;
	line-height: 140%;
	color: #1F1F1F;
	margin-bottom: 10px;
}

.profile-content__title:last-child {
  margin-bottom: 0;
}

.profile-content__desc {
  margin-bottom: 0;
}

.profile-content__desc span {
  color: #1886FF;
  font-weight: 600;
  cursor: pointer;
}

.profile-content__desc span:hover {
  opacity: 0.6;
}

.profile-content__image {
  padding-top: 43.65%;
  position: relative;
  overflow: hidden;
}

.profile-content__image::after {
  display: none;
}

.profile-content__image img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-content__bottom {
  min-height: 36px;
}

.profile-login__card:first-child {
  border-top: 1.6px solid #E4E4E4;
}

.profile-login__card {
  border-bottom: 1.6px solid #E4E4E4 !important;
}

.modal-post-user__icon {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .profile-login__card_tron,
  .profile-login__card_solana {
    display: none;
  }

  .profile-login__list li:not(.profile-login__list__walletconnect) {
    display: none;
  }

  .profile-iu__avatar > div > div {
    width: 50px !important;
    height: 50px !important;
    overflow: hidden;
  }

  .profile-iu__avatar svg {
    width: 50px;
    height: 50px;
  }

  .profile-content__bottom {
    min-height: 0;
  }
}

/* ===== nft form ===== */

.form-creat__block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
