/* ===== common ===== */

.main {
  padding-top: 40px;
  padding-bottom: 100px;
}

.tooltip-inner {
  background-color: #1886ff;
}

.tooltip .arrow::before {
  border-top-color: #1886ff;
}

.modal-backdrop.show {
  opacity: .5;
}

.modal-backdrop_dark.show {
  opacity: 1;
}

.loader__container {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loader-skeleton {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.11);
  animation: skeleton 1s ease-in-out infinite;
}

@keyframes skeleton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.loading-bg {
  background-color: rgba(0, 0, 0, 0.11);
  animation: animLoadingBg 1s ease-in-out infinite;
}

@keyframes animLoadingBg {
  0% {
    background-color: rgba(0, 0, 0, 0.11);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.06);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.11);
  }
}

/* ===== sidebar profile signin ===== */

.sidebar-profile__signin-btn {
  border: none;
  margin: 0;
  background-color: #1d9bf0;
  width: 240px;
  height: 60px;
  line-height: 60px;
  border-radius: 999px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
}

.sidebar-profile__signin-btn:hover {
  background-color: #0f8cdf;
}

/* ===== page load ===== */

.page-load {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.15;
}

.page-load svg {
  width: 250px;
  height: 250px;
}

/* ===== sidebar left create ===== */

.main-left {
  position: relative;
}

.main-right {
  position: relative;
}

.sidebar-left__create {
  padding-top: 40px;
}

.header_fixed {
  position: fixed;
  top: 20px;
}

.header_bottom {
  position: absolute;
  bottom: 0;
}

/* ===== address profile ===== */

.main-top {
  margin-bottom: 0;
}

.profile {
  padding-bottom: 0;
}

.profile-form {
  padding-top: 30px;
}

.profile-form__container {
  border-top: 1px solid #4d4d4d;
}

.profile-form__container-inner {
  display: none;
  border-bottom: 1px solid #4d4d4d;
  padding: 30px 0;
}

.profile__thumb {
  background-color: #ffffff;
}

.transactions {
  border: none;
}

.nav-tabs.transactions-list {
  padding: 10px 0;
}

.profile-info__title-address {
  cursor: pointer;
}

.transactions-body__empty {
  padding: 40px 15px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
}

.transactions-body__post {
  margin-bottom: 50px;
}

.transactions-body__post:last-child {
  margin-bottom: 0;
}

.post-comment__close {
  cursor: pointer;
  padding-right: 10px;
  padding-top: 2px;
  color: #2a91ff;
  font-size: 13px;
  opacity: 0.6;
}

.post-comment__close:hover {
  opacity: 1;
}

.post-comment__input {
  color: #000000;
}

.post-comment-wr_loading {
  opacity: 0.6;
}

.post-image__link {
  overflow: hidden;
  position: relative;
}

.post-image__link-img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.post-text__title {
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #4d4d4d;
}

.post-empty-block {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #a5a5a5;
  opacity: 0.6;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 15px;
}

.post-empty-block__title {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.post-empty-block__subtitle {
  font-size: 14px;
  text-align: center;
  line-height: 18px;
}

/* ===== wallet connect ===== */

.connect-wallet__link_connect::after {
  display: none;
}

.connect-wallet__link-status {
  cursor: default;
}

.connect-wallet__link-status_connect {
  opacity: 0.6;
  cursor: pointer;
}

.connect-wallet__link-status_connect:hover {
  opacity: 1;
}

.modal-content__link_disabled {
  background-color: transparent !important;
  cursor: default;
}

.connect-wallet-col-body {
  position: absolute;
}

.connect-wallet-col-body::before {
  content: '';
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  top: -15px;
}

.change-network-col-body {
  position: absolute;
}

.change-network-col-body::before {
  content: '';
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  top: -15px;
}

/* ===== nft form modal ===== */

.nft-form-modal__dialog {
  max-width: 600px;
  width: 100%;
}

.nft-form-modal__header {
  color: #000000;
  padding-left: 31px;
  position: relative;
}

.nft-form-modal__close {
  padding: 15px !important;
  position: absolute;
  top: 7px;
  right: 10px;
  cursor: pointer;
}

.nft-form-modal__close svg {
  width: 25px !important;
  height: 25px;
}

.nft-form-modal__body {
  background-color: #f5f9fd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-bottom: 30px;
}

/* ===== activate comments ===== */

.post-activate-comments {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.5;
}

.post-activate-comments:hover {
  opacity: 1;
}

.post-activate-comments_loading {
  opacity: 0.5 !important;
  cursor: not-allowed;
}

.post-activate-comments__label {
  padding-top: 1px;
  font-size: 13px;
  color: #838181;
  margin-right: 10px;
}

.post-activate-comments__switch {
  width: 35px;
  height: 20px;
  border-radius: 10px;
  position: relative;
  background-color: #c4cad1;

  &::before {
      content: '';
      position: absolute;
      left: 2px;
      top: 2px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #ffffff;
      transition: all 0.2s ease;
  }

  &_selected {
      background-color: #2a91ff;

      &::before {
          left: 17px;
      }
  }
}

.post-activate-comments__spinner {
  margin-left: 10px;
}

/* ===== post attributes ===== */

.post-text__attributes {
  margin-top: 5px;
  margin-bottom: 15px;
}

.post-attributes {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.post-attributes__item {
  width: 46px;
  height: 46px;
  border-radius: 23px;
  background-color: #ffffff;
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.post-attributes__item-icon {
  font-size: 19px;
  height: 19px;
  color: #2a91ff;
}

.post-attributes__item-count {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 15px;
  padding: 1px 3px 0;
  height: 15px;
  border-radius: 8px;
  font-size: 11px;
  text-align: center;
  line-height: 15px;
  background-color: #c7c7c7;
  color: #ffffff;
}

/* ===== profile status ===== */

.profile-status__container {
  margin-right: 20px;
  width: 200px;
}

.profile-status {
  margin-right: 0;
  white-space: nowrap;
  overflow: hidden;
}

.profile-status a:hover {
  color: #1886ff;
  opacity: 0.7;
}

.profile-status__edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5px 0;
  height: 27px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
}

.profile-status__edit_loading {
  opacity: 0.6;
}

.profile-status__edit-btn {
  height: 100%;
  padding: 0 10px;
  background: transparent;
  border: none;
  color: #2a91ff;
  font-family: "Myriad Pro";
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  width: 45px;
}

.profile-status__edit-input {
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #000000;
  font-family: "Myriad Pro";
  font-size: 12px;
  font-weight: 300;
  background: transparent;
  border: none;
  padding-left: 10px;
}

.profile-status__edit-input::-webkit-input-placeholder {opacity: 1;color: #8f9294;}
.profile-status__edit-input::-moz-placeholder 			{opacity: 1;color: #8f9294;}
.profile-status__edit-input:-moz-placeholder 			{opacity: 1;color: #8f9294;}
.profile-status__edit-input:-ms-input-placeholder 		{opacity: 1;color: #8f9294;}

.profile-status__edit-close {
  cursor: pointer;
  padding-right: 10px;
  padding-top: 2px;
  color: #2a91ff;
  font-size: 13px;
  opacity: 0.6;
}

.profile-status__edit-close:hover {
  opacity: 1;
}

/* ===== profile name ===== */

.profile-name__container {
  margin-right: 20px;
  margin-bottom: 10px;
  max-width: 300px;
}

.profile-name {
  font-family: "Myriad Pro";
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-name a {
  display: inline-block;
  color: #1886ff;
  border-bottom: 1px dashed #1886ff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.profile-name a:hover {
  color: #1886ff;
  opacity: 0.7;
  border-bottom-color: transparent;
}

.profile-name__edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
}

.profile-name__edit_loading {
  opacity: 0.6;
}

.profile-name__edit-btn {
  height: 100%;
  padding: 0 10px;
  background: transparent;
  border: none;
  color: #2a91ff;
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  width: 50px;
  flex-shrink: 0;
}

.profile-name__edit-input {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  color: #000000;
  font-family: "Myriad Pro";
  font-size: 24px;
  font-weight: bold;
  background: transparent;
  border: none;
  padding-left: 10px;
}

.profile-name__edit-input::-webkit-input-placeholder {opacity: 1;color: #8f9294;}
.profile-name__edit-input::-moz-placeholder 			{opacity: 1;color: #8f9294;}
.profile-name__edit-input:-moz-placeholder 			{opacity: 1;color: #8f9294;}
.profile-name__edit-input:-ms-input-placeholder 		{opacity: 1;color: #8f9294;}

.profile-name__edit-close {
  cursor: pointer;
  padding-right: 10px;
  padding-top: 2px;
  color: #2a91ff;
  font-size: 15px;
  opacity: 0.6;
  flex-shrink: 0;
}

.profile-name__edit-close:hover {
  opacity: 1;
}

/* ===== mobile ===== */

@media (max-width: 767px) {
  .page-load svg {
    width: 150px;
    height: 150px;
  }

  .header__top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .profile__thumb {
    margin-right: 5px;
    width: 50px;
    height: 50px;
  }

  .profile-name__container {
    max-width: 200px;
  }

  .profile-name {
    font-size: 16px;
    margin-right: 10px;
  }

  .profile-name__edit {
    height: 32px;
  }

  .profile-name__edit-btn {
    font-size: 12px;
    width: 45px;
  }

  .profile-name__edit-input {
    font-size: 16px;
  }

  .profile-name__edit-close {
    font-size: 13px;
  }

  .profile-form {
    padding-top: 15px;
  }

  .profile-form__container {
    border-top: none;
  }
  
  .profile-form__container-inner {
    border-bottom: none;
  }

  .nav-tabs.transactions-list {
    padding: 0;
  }

  .sidebar-left__create {
    display: none;
  }

  .connect-wallet-col-body {
    position: static;
  }

  .connect-wallet-col-body::before {
    display: none;
  }

  .change-network-col-body {
    position: static;
  }

  .change-network-col-body::before {
    display: none;
  }
}
