.error-page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error-page__title {
    font-size: 28px;
    color: #47494E;
    margin-top: 20px;
}

.error-page__back {
    font-size: 18px;
    color: #7F828B;
    margin-top: 25px;
}

.error-page__back a {
    color: #7F828B;
    text-decoration: underline;
}

.error-page__back a:hover {
    text-decoration: none;
}
