input::-ms-clear {
 display: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*modal по вертикали*/
.modal {
  text-align: center;
}
@media screen and (min-width: 992px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/*a*/
a:hover {
  text-decoration: none;
  color: inherit;
}
ul li {
  list-style-type: none;
}
a:focus, a:visited, a:link, a:hover, button:focus, button:visited, button:link, button:hover {
  outline: none;
}
*:focus, div:focus, input:focus, input:visited, input:hover, input:link {
  outline: none;
}
textarea:focus, textarea:visited, textarea:hover, textarea:link {
  outline: none;
}
button, label {
  cursor: pointer;
}
/*container*/
@media (min-width: 1200px) { 
  .container {
    max-width: 1230px;
    width: 100%;
  }
  .main > .container {
    max-width: 1320px;
    width: 100%;
  }
}
@media (max-width: 1199.5px) { 
  .container {
    max-width: 100%;
    width: 100%;
  }
}
/*btn*/
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.btn:focus {
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
}
.btn_blue {
  background-color: #2a91ff;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  border-radius: 50px;
}
.btn_blue:hover {
  background-color: #197ae2;
}
.btn_blue span {
  display: inline-block;
  color: white;
  font-family: "SF Pro Display";
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}
.btn_white {
  background-color: #ffffff;
  border-radius: 40px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.btn_white:hover {
  background-color: #efebeb;
}
.btn_white span {
  color: #3f12b9;
  font-family: "SF Pro Display";
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
}
.btn_green {
  background-color: #14F195;
  border-radius: 54px;
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22em;
  color: #000000;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.btn_green:hover {
  background-color: #00ff95;
  color: #000000;
}
.btn_green-transparent {
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22em;
  color: #14F195;
  border: 3px solid #14F195;
  border-radius: 54px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.btn_green-transparent:hover {
  background-color: #14F195;
  color: #fff;
}
/*placeholder*/
::-webkit-input-placeholder {}
::-moz-placeholder      {}
:-moz-placeholder       {}
:-ms-input-placeholder    {}