/*colors*/
$main_black: #1F1F1F;
$dark_grey: #687684;
$light_grey: #A7A7A7;
$divider: #E4E4E4;
$light_blue: #F5F9FD;
$white: #FFFFFF;
$green: #27BC6A;
$red: #FF1818;
$blue: #1886FF;
$blue_hover: #1072DE;
$binance: #F3BA2F;
$border: #f1f1f1;
$dark: #333;

.main_black {
	color: $main_black !important;
}
.light_grey {
	color: $light_grey !important;
}
.divider {
	color: $divider !important;
}
.light_blue {
	color: $light_blue !important;
}
.white {
	color: $white !important;
}
.green {
	color: $green !important;
}
.red {
	color: $red !important;
}
.blue {
	color: $blue !important;
}
.binance {
	color: $binance !important;
}
.dark {
	color: $dark !important;
}
.dark_grey {
	color: $dark_grey !important;
}
/*start font-weight*/
.fw-700 {
	font-weight: 700 !important;
}
.fw-600 {
	font-weight: 600 !important;
}
.fw-500 {
	font-weight: 500 !important;
}
.fw-400 {
	font-weight: 400 !important;
}
/*end font-weight*/
/*font size*/
@for $i from 10 through 50 {
	.fs_#{$i} {
		font-size: $i * 1px;
	}
}
.fz_12 {
	font-size: 12px !important;
}
/*margin bottom*/
@for $i from 1 through 100 {
  .mb_#{$i} {
    margin-bottom: $i * 1px !important;
  }
  .mt_#{$i} {
    margin-top: $i * 1px !important;
  }
  .mr_#{$i} {
    margin-right: $i * 1px !important;
  }
  .ml_#{$i} {
    margin-left: $i * 1px !important;
  }

  .pb_#{$i} {
    padding-bottom: $i * 1px !important;
  }
  .pt_#{$i} {
    padding-top: $i * 1px !important;
  }
  .pr_#{$i} {
    padding-right: $i * 1px !important;
  }
  .pl_#{$i} {
    padding-left: $i * 1px !important;
  }
}

@for $i from 1 through 200 {
  .w_#{$i} {
    width: $i * 1px !important;
  }
}
@media (min-width: 576px) {
  @for $i from 1 through 100 {
    .mb_sm_#{$i} {
      margin-bottom: $i * 1px !important;
    }
    .mt_sm_#{$i} {
      margin-top: $i * 1px !important;
    }
    .mr_sm_#{$i} {
      margin-right: $i * 1px !important;
    }
    .ml_sm_#{$i} {
      margin-left: $i * 1px !important;
    }

    .pb_sm_#{$i} {
      padding-bottom: $i * 1px !important;
    }
    .pt_sm_#{$i} {
      padding-top: $i * 1px !important;
    }
    .pr_sm_#{$i} {
      padding-right: $i * 1px !important;
    }
    .pl_sm_#{$i} {
      padding-left: $i * 1px !important;
    }
  }

  @for $i from 1 through 200 {
    .w_sm_#{$i} {
      width: $i * 1px !important;
    }
  }
}
@media (min-width: 768px) {
  @for $i from 1 through 100 {
    .mb_md_#{$i} {
      margin-bottom: $i * 1px !important;
    }
    .mt_md_#{$i} {
      margin-top: $i * 1px !important;
    }
    .mr_md_#{$i} {
      margin-right: $i * 1px !important;
    }
    .ml_md_#{$i} {
      margin-left: $i * 1px !important;
    }

    .pb_md_#{$i} {
      padding-bottom: $i * 1px !important;
    }
    .pt_md_#{$i} {
      padding-top: $i * 1px !important;
    }
    .pr_md_#{$i} {
      padding-right: $i * 1px !important;
    }
    .pl_md_#{$i} {
      padding-left: $i * 1px !important;
    }
  }

  @for $i from 1 through 200 {
    .w_md_#{$i} {
      width: $i * 1px !important;
    }
  }
}
@media (min-width: 992px) {
  @for $i from 1 through 100 {
    .mb_lg_#{$i} {
      margin-bottom: $i * 1px !important;
    }
    .mt_lg_#{$i} {
      margin-top: $i * 1px !important;
    }
    .mr_lg_#{$i} {
      margin-right: $i * 1px !important;
    }
    .ml_lg_#{$i} {
      margin-left: $i * 1px !important;
    }

    .pb_lg_#{$i} {
      padding-bottom: $i * 1px !important;
    }
    .pt_lg_#{$i} {
      padding-top: $i * 1px !important;
    }
    .pr_lg_#{$i} {
      padding-right: $i * 1px !important;
    }
    .pl_lg_#{$i} {
      padding-left: $i * 1px !important;
    }
  }

  @for $i from 1 through 200 {
    .w_lg_#{$i} {
      width: $i * 1px !important;
    }
  }
}
@media (min-width: 1200px) {
  @for $i from 1 through 100 {
    .mb_xl_#{$i} {
      margin-bottom: $i * 1px !important;
    }
    .mt_xl_#{$i} {
      margin-top: $i * 1px !important;
    }
    .mr_xl_#{$i} {
      margin-right: $i * 1px !important;
    }
    .ml_xl_#{$i} {
      margin-left: $i * 1px !important;
    }

    .pb_xl_#{$i} {
      padding-bottom: $i * 1px !important;
    }
    .pt_xl_#{$i} {
      padding-top: $i * 1px !important;
    }
    .pr_xl_#{$i} {
      padding-right: $i * 1px !important;
    }
    .pl_xl_#{$i} {
      padding-left: $i * 1px !important;
    }
  }

  @for $i from 1 through 200 {
    .w_xl_#{$i} {
      width: $i * 1px !important;
    }
  }
}

/*input mixin*/
@mixin input {
	border: 1px solid $divider;
	color: $dark_grey;
	font-family: 'SF Pro Display';
	font-weight: 400;
	border-radius: 5px;
	background-color: $white;
	transition: color 0.5s;
	&:focus {
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	}
	&:hover {
		color: $light_grey;
		&::-webkit-input-placeholder {opacity: 1;color: $light_grey;}
		&::-moz-placeholder      {opacity: 1;color: $light_grey;}
		&:-moz-placeholder       {opacity: 1;color: $light_grey;}
		&:-ms-input-placeholder    {opacity: 1;color: $light_grey;}
	}
	&::-webkit-input-placeholder {opacity: 1;color: $dark_grey;}
	&::-moz-placeholder      {opacity: 1;color: $dark_grey;}
	&:-moz-placeholder       {opacity: 1;color: $dark_grey;}
	&:-ms-input-placeholder    {opacity: 1;color: $dark_grey;}
}
.global-input {
	@include input;
	height: 30px;
	font-family: 'SF Pro Display';
	font-weight: 400;
	font-size: 12px;
	line-height: 1.2em;
	color: $main_black;
	padding-left: 15px;
	padding-right: 15px;
	&::-webkit-input-placeholder {color: $dark_grey;opacity: 1;}
	&::-moz-placeholder      {color: $dark_grey;opacity: 1;}
	&:-moz-placeholder       {color: $dark_grey;opacity: 1;}
	&:-ms-input-placeholder    {color: $dark_grey;opacity: 1;}
	&:not([readonly]):focus {
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		border-color: $blue;
		color: $main_black;
	}
	&.red {
		border-color: $red;
	}
	&.disabled {
		border-color: $divider;
		background: $divider;
		color: $white;
		&::-webkit-input-placeholder {color: $white !important;opacity: 1;}
		&::-moz-placeholder      {color: $white !important;opacity: 1;}
		&:-moz-placeholder       {color: $white !important;opacity: 1;}
		&:-ms-input-placeholder    {color: $white !important;opacity: 1;}
	}
}

/*flex 1*/
.flex-all {
	flex: 1;
}

/*break text*/
.break-all {
	word-break: break-all;
}

/*relative block*/
.p-relative {
	position: relative;
}

/*market container*/
@media (min-width: 1310px) {
	.body-market .container {
		max-width: 1310px;
		width: 100%;
	}
}
@media (min-width: 1610px) {
	.body-market .container {
		max-width: 1610px;
		width: 100%;
	}
}

/*btn*/
.btn_transparent {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid $divider;
	border-radius: 5px;
	font-family: 'SF Pro Display';
	font-weight: 600;
	@extend .fs_12;
	line-height: 1.2em;
	color: $light_grey;
	padding: 8px 15px;
	transition: all 0.5s;
	max-height: 30px;
	&.btn_transparent-img {
		svg * {
			transition: all 0.5s;
		}
	}
	&:hover {
		color: $light_grey;
	}
	&:active {
		color: $blue;
		border-color: $blue;
	}
	&.red {
		color: $red;
		border-color: $red;
	}
	&.success {
		color: $green;
		border-color: $green;
	}
	&.disabled {
		color: $divider;
		border-color: $divider;
	}
	&.btn_transparent-img:hover {
		svg * {
			fill: $dark_grey;
		}
	}
	&.btn_transparent-img:active {
		svg * {
			fill: $blue;
		}
	}
	&.btn_transparent-img.red {
		svg * {
			fill: $red;
		}
	}
	&.btn_transparent-img.success {
		svg * {
			fill: $green;
		}
	}
	&.btn_transparent-img.disabled {
		svg * {
			fill: $divider;
		}
	}
}

.btn_default {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 5px;
	font-family: 'SF Pro Display';
	font-weight: 600;
	@extend .fs_12;
	line-height: 1.2em;
	color: $white;
	padding: 8px 15px;
	transition: all 0.5s;
	background-color: $light_grey;
	max-height: 30px;
	&:hover {
		color: $white;
		background-color: $dark_grey;
	}
	&:active {
		color: $white;
		background-color: $blue;
	}
	&.red {
		color: $white;
		background-color: $red;
	}
	&.success {
		color: $white;
		background-color: $green;
	}
	&.disabled {
		color: $white;
		background-color: $divider;
	}
}

.btn_arrow {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	svg * {
		transition: all 0.5s;
	}
	&:hover {
		rect {
			stroke: $blue_hover;
		}
		path {
			fill: $blue_hover;
		}
	}
	&:active {
		rect {
			stroke: $blue;
			fill: $blue;
		}
		path {
			fill: $white;
		}
	}
}

.btn-blue-transparent {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid $blue;
	border-radius: 5px;
	font-family: 'SF Pro Display';
	font-weight: 600;
	@extend .fs_12;
	line-height: 1.2em;
	color: $blue;
	padding: 8px 15px;
	transition: all 0.5s;
	background-color: transparent;
	max-height: 30px;
	&:hover {
		color: $dark_grey;
		border-color: $divider;
	}
	&:active {
		color: $light_grey;
		border-color: $divider;
	}
	&.red {
		color: $red;
		border-color: $red;
	}
	&.success {
		color: $green;
		border-color: $green;
	}
	&.disabled {
		color: $divider;
		border-color: $divider;
	}
}

.btn-blue-transparent_button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid $blue;
	border-radius: 5px;
	font-family: 'SF Pro Display';
	font-weight: 600;
	@extend .fs_12;
	line-height: 1.2em;
	color: $blue;
	padding: 8px 15px;
	transition: all 0.5s;
	background-color: transparent;
	max-height: 30px;
	&:hover {
		color: $blue_hover;
		border-color: $blue_hover;
	}
	&:active {
		color: $blue_hover;
		border-color: $blue_hover;
	}
	&.red {
		color: $red;
		border-color: $red;
	}
	&.success {
		color: $green;
		border-color: $green;
	}
	&.disabled {
		color: $divider;
		border-color: $divider;
	}
}

.btn-blue {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 5px;
	font-family: 'SF Pro Display';
	font-weight: 600;
	@extend .fs_12;
	line-height: 1.2em;
	color: $white;
	padding: 8px 15px;
	transition: all 0.5s;
	background-color: $blue;
	max-height: 30px;
	&:hover {
		color: $white;
		background-color: $dark_grey;
	}
	&:active {
		color: $white;
		background-color: $light_grey;
	}
	&.red {
		color: $white;
		background-color: $red;
	}
	&.success {
		color: $white;
		background-color: $green;
	}
	&.disabled {
		color: $white;
		background-color: $divider;
	}
}

.btn-blue_button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 5px;
	font-family: 'SF Pro Display';
	font-weight: 600;
	@extend .fs_12;
	line-height: 1.2em;
	color: $white;
	padding: 8px 15px;
	transition: all 0.5s;
	background-color: $blue;
	max-height: 30px;
	&:hover {
		color: $white;
		background-color: $blue_hover;
	}
	&:active {
		color: $white;
		background-color: $blue_hover;
	}
	&.red {
		color: $white;
		background-color: $red;
	}
	&.success {
		color: $white;
		background-color: $green;
	}
	&.disabled {
		color: $white;
		background-color: $divider;
	}
}

.btn_large {
	max-height: 40px;
	height: 40px;
	@extend .fs_14;
}
.global-input_large {
	height: 40px;
	font-size: 14px !important;
}

/*placeholder*/
::-webkit-input-placeholder {}
::-moz-placeholder      {}
:-moz-placeholder       {}
:-ms-input-placeholder    {}